each item in items
  div.plugin-container.livolo(class=item.groupId)
    p.description
      span.muted Group ID:
      strong #{item.groupId}
      span.muted Device ID:
      strong #{item.deviceId}
      small (PIN #{item.pin})
      div.btn-group(data-toggle="buttons-radio")
        button.btn.btn-large.socket(type="button", data-socket="livolo-toggle", data-id="#{item._id}", data-value="1", class=(item.value == '1' ? 'active' : ''))
          i.icon-circle
          | On
        button.btn.btn-inverse.btn-large.socket(type="button", data-socket="livolo-toggle", data-id="#{item._id}", data-value="0", class=(item.value == '0' ? 'active' : ''))
          i.icon-circle-blank
          | Off
