div.container
  h1 Settings
  h2 Livolo
  p Installation Guide:&nbsp;
    a(href="http://ni-c.github.com/heimcontrol.js/plugins/gpio.html") http://ni-c.github.com/heimcontrol.js/plugins/gpio.html
  - if (typeof(success) !== 'undefined')
    div.alert.alert-success.fade.in
      button.close(type="button", data-dismiss="alert") ×
      =success
  div.row16
    form(action="/settings/livolo", method="post")
      div#livolo
        each item, i in items
          div.plugin-container.livolo.settings(id="#{item._id}")
            button.btn.btn-danger.pull-right.delete(type="button",data-delete="#{item._id}")
              i.icon-trash.icon-large
              |  Delete
            label(for="pin") Livolo Pin:
            select(name="data[#{i}][pin]")
              option(disabled="disabled",selected=(item.pin == '0')) Choose PIN
              option(value="7",selected=(item.pin == '7')) PIN 7
              option(value="11",selected=(item.pin == '11')) PIN 11
              option(value="12",selected=(item.pin == '12')) PIN 12
              option(value="13",selected=(item.pin == '13')) PIN 13
              option(value="15",selected=(item.pin == '15')) PIN 15
              option(value="16",selected=(item.pin == '16')) PIN 16
              option(value="18",selected=(item.pin == '18')) PIN 18
              option(value="22",selected=(item.pin == '22')) PIN 22
              option(value="29",selected=(item.pin == '29')) PIN 29
              option(value="31",selected=(item.pin == '31')) PIN 31
              option(value="33",selected=(item.pin == '33')) PIN 33
              option(value="35",selected=(item.pin == '35')) PIN 35
              option(value="36",selected=(item.pin == '36')) PIN 36
              option(value="37",selected=(item.pin == '37')) PIN 37
              option(value="38",selected=(item.pin == '38')) PIN 38
              option(value="40",selected=(item.pin == '40')) PIN 40
            label(for="groupId") Group ID:
            input(type="text", name="data[#{i}][groupId]", placeholder="31565", value=(item.groupId ? item.groupId : '31565'))
            label(for="deviceId") Device ID:
            select(name="data[#{i}][deviceId]")
              optgroup(label="Full Remote")
                option(value="0",selected=(item.deviceId == '0')) #1
                option(value="96",selected=(item.deviceId == '96')) #2
                option(value="120",selected=(item.deviceId == '120')) #3
                option(value="24",selected=(item.deviceId == '24')) #4
                option(value="80",selected=(item.deviceId == '80')) #5
                option(value="48",selected=(item.deviceId == '48')) #6
                option(value="108",selected=(item.deviceId == '108')) #7
                option(value="12",selected=(item.deviceId == '12')) #8
                option(value="72",selected=(item.deviceId == '72')) #9
                option(value="40",selected=(item.deviceId == '40')) #10
                option(value="106",selected=(item.deviceId == '106')) #OFF
              optgroup(label="Mini Remote")
                option(value="8",selected=(item.deviceId == '8')) #A
                option(value="16",selected=(item.deviceId == '16')) #B
                option(value="56",selected=(item.deviceId == '56')) #C
                option(value="42",selected=(item.deviceId == '42')) #OFF
            input(type="hidden", name="data[#{i}][_id]", value="#{item._id}")
            input(type="hidden", name="data[#{i}][value]", value="0")
          
      p.livolo.buttons
        button.btn.btn-info.add(data-target="livolo", type="button", data-callback="registerLivoloToggles()")
          i.icon-plus.icon-large
          |  Add
      
        button.btn.btn-success.save(type="submit") 
          i.icon-save.icon-large
          |  Save
 
 input(type="hidden", name="iterator", id="iterator", value=(items.length))
      
div.plugin-container.livolo.settings#template(style="display: none;")
  button.btn.btn-danger.pull-right.delete(type="button")
    i.icon-trash.icon-large
    |  Delete
  label(for="pin") Livolo Pin:
  select(name="data[%i%][pin]")
    option(disabled="disabled",selected=true) Choose PIN
    option(value="7") PIN 7
    option(value="11") PIN 11
    option(value="12") PIN 12
    option(value="13") PIN 13
    option(value="15") PIN 15
    option(value="16") PIN 16
    option(value="18") PIN 18
    option(value="22") PIN 22
    option(value="29") PIN 29
    option(value="31") PIN 31
    option(value="33") PIN 33
    option(value="35") PIN 35
    option(value="36") PIN 36
    option(value="37") PIN 37
    option(value="38") PIN 38
    option(value="40") PIN 40
  label(for="groupId") Group ID:
  input(type="text", name="data[%i%][groupId]", placeholder="31565", value='31565')
  label(for="deviceId") Device ID:
  input(type="text", name="data[%i%][deviceId]", placeholder="", value='')
  input(type="hidden", name="data[%i%][value]", value="0")
